<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="serverDataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serverUrl">
      <mat-header-cell *matHeaderCellDef> Server Api Url</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serverUrl}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>
</div>

<div>
  <button mat-raised-button color="primary" type="submit" (click)="removeSelectedRows()"> Remove Server(s)</button>
</div>
